h1.md {
    font-size: 175%;
}

h2.md {
    font-size: 160%;
}

h3.md {
    font-size: 150%;
}

h4.md {
    font-size: 140%;
}

h5.md {
    font-size: 125%;
}

h6.md {
    font-size: 110%;
}

a.md {
    color: rgb(var(--text-accent));
    text-decoration: none;
}

li.md {
    padding: 2px 0;
}

blockquote.md {
    border-left: 2px solid rgb(var(--text-accent));
    margin-left: 0;
    padding-left: 2vw;
}

table.md {
    width: 100%;
}

div.md.table-box {
    width: 100%;
    overflow-x: scroll;
}

th.align-l,
td.align-l {
    text-align: left;
}

th.align-c,
td.align-c {
    text-align: center;
}

th.align-r,
td.align-r {
    text-align: right;
}
